.loginSignup {
  background-color: #261f33;
  border-radius: 12px;
  box-shadow: 0 0 15px #161616;
  overflow: hidden;
}

.header {
  background-color: #38304c;
  box-shadow: 0 0 15px #000000;
  font-weight: 700;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
}

.content {
  padding: 1rem;
}

.inputs > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.inputs label {
  text-align: left;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.inputs input {
  box-sizing: border-box;
  background-color: #38304c;
  border: none;
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 12px;
}

.inputs input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.submit {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.submit button {
  font-family: inherit;
  background-color: #0df5e3;
  color: #161616;
  font-weight: 600;
  border: none;
  font-size: 0.875rem;
  line-height: 1.2;
  border-radius: 24px;
  padding: 0.6rem 1.8rem;
  cursor: pointer;
}
